<%- include("partials/head.ejs") %>
<body>
    <h1>Instagram</h1>
    <h2>This page belongs to @<%= data.name%></h2>
    
    <p>Followers : <%= data.followers %> &nbsp; &nbsp; Followers : <%= data.following %></p>
    
    <button>Follow</button>
    <button>Message</button>
    
    <hr>
    
    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="">
        <p>Likes : <%= post.likes %> &nbsp; Comments : <%= post.comments %></p>
        <% } %>
    
    <script src="/js/app.js"></script>
</body>
</html>

